// Import page-specific CSS files here.
@import "home";


// .main-container {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap:16px;
// }

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.club-cards {
  border: 2px, solid, white;
}