<div class="footer">
  <div class="row0">
    <div class>
      <%= link_to root_path do %>
        <%= image_tag "croppedlogo4.png", class:"logo"%>
      <% end %>
    </div>
    <div class="text-secondary text-center line-height-small">
      <p>Copyright © CLUBSR’RUS</p>
      <p>All rights reserved</p>
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
  <div class="row1">
    <div class="text-primary text-center line-height-large padding-top hover">
      <p>Products</p>
    </div>
    <div class="text-secondary text-center line-height-large">
      <p>Features</p>
    </div>
    <div class="text-secondary text-center line-height-large">
      <p>Personal Licence</p>
    </div>
    <div class="text-secondary text-center line-height-large">
      <p>Business Licence</p>
    </div>
    <div class="text-secondary text-center line-height-large">
      <p>Pricing Options</p>
    </div>
  </div>
  <div class="row1">
    <div class="text-primary text-center line-height-large padding-top">
      <p>Company</p>
    </div>
    <div class="text-secondary text-center line-height-large">
      <p>About</p>
    </div>
    <div class="text-secondary text-center line-height-large">
      <p>Careers </p>
    </div>
    <div class="text-secondary text-center line-height-large">
      <p>Blog</p>
    </div>
    <div class="text-secondary text-center line-height-large">
      <p>Contact</p>
    </div>
  </div>
  <div class="row1">
    <div class="text-primary text-center line-height-large padding-top">
      <p>Support</p>
    </div>
    <div class="text-secondary text-center line-height-large">
      <p>Support Center</p>
    </div>
    <div class="text-secondary text-center line-height-large">
      <p>Help Desk</p>
    </div>
    <div class="text-secondary text-center line-height-large">
      <p>FAQ</p>
    </div>
  </div>