<video autoplay muted loop id="myVideo">
  <source src="https://res.cloudinary.com/hachiles/video/upload/v1605808445/homepage_video_nlgbpo.mp4" type="video/mp4">
</video>

<div class="content">
<a href="clubs_path"></a>
  <img src="https://res.cloudinary.com/hachiles/image/upload/v1605871387/1_nupjbt.png" alt="">
    <%= link_to "Browse clubs", clubs_path, class:"btn btn-primary" %>
</div>