<video autoplay muted loop id="myVideo">
  <source src="https://res.cloudinary.com/hachiles/video/upload/v1605808445/homepage_video_nlgbpo.mp4" type="video/mp4">
</video>

<div class="content">
  <%= link_to clubs_path do %>
    <%= image_tag "https://res.cloudinary.com/hachiles/image/upload/v1605879770/logo_resized_b0ro2b.png" %>
  <% end %>
</div>
