.btn-secondary.magenta {
  color: #8F0058;
  background: none;
  border: none;
}

.add-new-club-button {
  background: #8F0058;
  border-radius: 4px;
  color: white;
  padding: 4px 16px;
  margin: 10px;
}

.button-magenta {
  background: #8F0058;
  border-radius: 4px;
  color: white;
  padding: 4px 16px;
  margin: 10px;
  &:hover{
    background: $pink-hover;
    color: white;
    text-decoration: none;
  }
}

.button-dark-grey {
  background: #26313A;
  color: white;
  opacity: 0.5;
  padding: 4px 50px;
  margin: 10px;
  &:hover{
    background: #2b2e2e;
    opacity: 1;
    text-decoration: none;
  }
}

.button-green {
  background: #219653;
  border-radius: 4px;
  color: white;
  padding: 4px 16px;
  margin: 10px;
}

.button-orange {
  background: #FF4E33;
  border-radius: 4px;
  color: white;
  padding: 4px 16px;
  margin: 10px;

}

.browse-button {
  background: #8F0058;
  border-radius: 4px;
  color: white;
}

.button-red {
  background: #711709d1;
  border-radius: 4px;
  color: white;
  padding: 4px 16px;
  margin: 10px;

}

.button-dark-green {
  background: #164a2ccf;
  border-radius: 4px;
  color: white;
  padding: 4px 16px;
  margin: 10px;

}